:root {
  --primary-bg-color: #fafafa;
  --secondary-bg-color: #c8c8c8;
  --primary-fg-color: #2c2828;
  --secondary-fg-color: #626177;
  --primary-accent-color: #64189f;
  --secondary-accent-color: #7c64d8;
  --code-bg-color: #64189f22;
  --code-fg-color: #2c2c2c;
  --wc-menu-button-color: var(--primary-accent-color);
  /* --side-drawer-backdrop-filter: blur(10px); */
  /* --side-drawer-overlay-opacity: 0; */
}

side-drawer {
  background-color: var(--secondary-fg-color);
  color: white;
  /* border-top-right-radius: 10%;
    border-bottom-right-radius: 10%; */
}

.drawer-sample-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 21px;
  font-size: 21px;
  display: flex;
  flex-direction: column;
}

html body {
  font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
}

wc-menu-button {
  width: 60px;
}

body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1280px;
}

section {
  padding: 0px 20px;
}

.hero {
  text-align: center;
  margin-top: 119px;
  margin-bottom: 89px;
}

.hero h2 {
  margin: 16px 0;
}

.hero-demo {
  padding-top: 50px;
}

.hero-cta {
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1 {
  font-size: 50px;
  margin: 21px auto auto;
  max-width: 700px;
}

h2 {
  color: var(--primary-accent-color);
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
}

h3 {
  color: var(--primary-accent-color);
  font-size: 21px;
  font-weight: 600;
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

p,
ul {
  margin: 0;
  color: var(--secondary-fg-color);
  font-size: 16px;
  line-height: 1.7;
}

.small {
  font-size: 12px;
}

.overview {
  margin-bottom: 38px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  grid-gap: 37px;
  justify-content: space-evenly;
}

.overview > p {
  max-width: 512px;
}

.overview > ul {
  padding-inline-start: 0px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);
  justify-content: space-evenly;
  grid-gap: 12px;
}

.overview > ul li {
  padding-bottom: 4px;
  font-size: 12px;
}

.icon-checkmark {
  fill: #00ab47 !important;
  width: 15px;
  height: 11px;
}

.github-btn {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-size: 21px;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--primary-accent-color) 0%,
    var(--secondary-accent-color) 51%,
    var(--primary-accent-color) 100%
  );

  display: flex;
  align-items: center;
}

.github-btn svg {
  margin-left: 12px;
}

a {
  text-decoration: none;
}

.github-btn:hover {
  background-position: right center;

  cursor: pointer;
}
